#complogo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#exelalogo
{
    margin:right ;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#logodiv
{
    top: 50px;
}

